SUBSYSTEM!="input", GOTO="x11_input_end"
ACTION!="add",      GOTO="x11_input_end"
KERNEL!="event*",   GOTO="x11_input_end"

ENV{ID_INPUT_KEY}=="1", IMPORT{program}="/sbin/mageia-setup-keyboard --udev"

LABEL="x11_input_end"

