#Source: nvidia-graphics-drivers${nvidia:Legacy}
Source: nvidia-graphics-drivers-legacy-304xx
Section: non-free/libs
Priority: optional
Maintainer: Debian NVIDIA Maintainers <pkg-nvidia-devel@lists.alioth.debian.org>
Uploaders:
 Andreas Beckmann <anbe@debian.org>,
 Vincent Cheng <vcheng@debian.org>,
 Luca Boccassi <bluca@debian.org>,
Vcs-Browser: https://salsa.debian.org/nvidia-team/nvidia-graphics-drivers
Vcs-Git: https://salsa.debian.org/nvidia-team/nvidia-graphics-drivers.git -b 304xx/master
Build-Depends:
 debhelper (>= 10),
 dpkg-dev (>= 1.18.8),
 xz-utils,
 dh-dkms,
 dkms,
 libxext6,
 patchelf,
 libxv1,
 libxvmc1,
 quilt,
Rules-Requires-Root: no
Standards-Version: 4.3.0
Homepage: https://www.nvidia.com
XS-Autobuild: yes

#Package: ${nvidia}-driver
Package: nvidia-legacy-304xx-driver
Section: non-free/x11
Architecture: i386 amd64
Pre-Depends:
 nvidia-installer-cleanup,
 ${nvidia:legacy-check},
Depends:
 ${nvidia}-driver-libs (= ${binary:Version}),
 ${nvidia}-driver-bin (= ${binary:Version}),
 xserver-xorg-video-${nvidia} (= ${binary:Version}),
 ${nvidia}-vdpau-driver (= ${binary:Version}),
 ${nvidia}-alternative (= ${binary:Version}),
 ${nvidia:kmod:binary},
 nvidia-support,
 ${misc:Depends}
Recommends:
 ${nvidia-settings},
 nvidia-persistenced,
Suggests:
 ${nvidia:kmod:source},
Provides:
 nvidia-glx-any,
Description: NVIDIA metapackage${nvidia:LegacyDesc}
 This metapackage depends on the NVIDIA binary driver and libraries
 that provide optimized hardware acceleration of
 OpenGL/GLX applications via a direct-rendering X Server.
 .
 ${nvidia:kmod:Description}
 .
 ${nvidia:Models}
 .
 See /usr/share/doc/${nvidia}-driver/README.txt.gz
 for a complete list of supported GPUs and PCI IDs.
 .
 Building the kernel module has been tested up to Linux ${nvidia:kmod:tested:Linux}.

#Package: ${nvidia}-driver-bin
Package: nvidia-legacy-304xx-driver-bin
Section: non-free/x11
Architecture: i386 amd64
Depends:
 ${nvidia}-alternative (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Recommends:
 ${nvidia}-driver,
Provides:
 nvidia-driver-bin-${nvidia:Version},
Conflicts:
 nvidia-driver-bin-${nvidia:Version},
Breaks:
 ${nvidia}-driver (<< ${nvidia:Deb-Version-After:jessie}),
Replaces:
 ${nvidia}-driver (<< ${nvidia:Deb-Version-After:jessie}),
Description: NVIDIA driver support binaries${nvidia:LegacyDesc}
 The NVIDIA binary driver provides optimized hardware acceleration of
 OpenGL/GLX applications via a direct-rendering X Server
 for graphics cards using NVIDIA chip sets.
 .
 This package contains supporting binaries for the driver.

#Package: ${nvidia}-driver-libs
Package: nvidia-legacy-304xx-driver-libs
Architecture: i386 amd64
Multi-Arch: same
Depends:
 libgl1-${nvidia}-glx (= ${binary:Version}),
 ${misc:Depends}
Recommends:
 ${nvidia}-driver-libs-i386 [amd64],
 lib${nvidia}-cfg1 (= ${binary:Version}),
Description: NVIDIA metapackage (OpenGL/GLX libraries)${nvidia:LegacyDesc}
 This metapackage depends on the NVIDIA binary libraries
 that provide optimized hardware acceleration of
 OpenGL/GLX applications via a direct-rendering X Server.

#Package: ${nvidia}-driver-libs-i386
Package: nvidia-legacy-304xx-driver-libs-i386
Architecture: i386
Multi-Arch: foreign
Depends:
 ${nvidia}-driver-libs,
 ${misc:Depends}
Conflicts:
 libgl1-${nvidia}-glx-i386,
Description: NVIDIA metapackage (OpenGL/GLX 32-bit libraries)${nvidia:LegacyDesc}
 This metapackage helps the automatic installation of the 32-bit NVIDIA
 OpenGL/GLX libraries when installing ${nvidia}-driver-libs
 on amd64 with foreign architecture i386 enabled.

#Package: xserver-xorg-video-${nvidia}
Package: xserver-xorg-video-nvidia-legacy-304xx
Section: non-free/x11
Architecture: i386 amd64
Pre-Depends:
 nvidia-installer-cleanup,
 ${nvidia:legacy-check},
Depends:
 lib${nvidia}-glcore (= ${binary:Version}),
 ${nvidia}-alternative (= ${binary:Version}),
 nvidia-support,
 ${nvidia:xorgDepends},
 ${shlibs:Depends}, ${misc:Depends}
Recommends:
 ${nvidia}-driver (>= ${nvidia:Version}),
 ${nvidia}-vdpau-driver (>= ${nvidia:Version}),
 ${nvidia:kmod:binary},
 ${nvidia-settings},
Suggests:
 ${nvidia:kmod:source},
Provides:
 xserver-xorg-video-nvidia-any,
 ${nvidia:xorgProvides},
Breaks:
 glx-alternative-nvidia (<< 0.6.91),
Replaces:
 glx-alternative-nvidia (<< 0.6.91),
Description: NVIDIA binary Xorg driver${nvidia:LegacyDesc}
 The NVIDIA binary driver provides optimized hardware acceleration of
 OpenGL/GLX applications via a direct-rendering X Server
 for graphics cards using NVIDIA chip sets.
 .
 ${nvidia:kmod:Description}
 .
 ${nvidia:Models}
 .
 See /usr/share/doc/${nvidia}-driver/README.txt.gz
 for a complete list of supported GPUs and PCI IDs.

#Package: libgl1-${nvidia}-glx
Package: libgl1-nvidia-legacy-304xx-glx
Architecture: i386 amd64
Multi-Arch: same
Pre-Depends:
 nvidia-installer-cleanup,
 ${nvidia:legacy-check},
 ${misc:Pre-Depends}
Depends:
 libxvmc1 (>= 2:1.0.9),
 ${nvidia}-alternative (= ${binary:Version}),
 lib${nvidia}-glcore (= ${binary:Version}),
 nvidia-installer-cleanup (>= 20130816) [i386],
 nvidia-support,
 ${shlibs:Depends}, ${misc:Depends}
Recommends:
 ${nvidia:kmod:binary},
Suggests:
 ${nvidia:kmod:source},
Provides:
 libgl1-nvidia-glx-any,
Breaks:
 libxvmcnvidia1 (<< 305),
Replaces:
 libxvmcnvidia1 (<< 305),
Description: NVIDIA binary OpenGL/GLX library${nvidia:LegacyDesc}
 The NVIDIA binary driver provides optimized hardware acceleration of
 OpenGL/GLX applications via a direct-rendering X Server
 for graphics cards using NVIDIA chip sets.
 .
 See the description of the ${nvidia}-driver package
 or /usr/share/doc/libgl1-${nvidia}-glx/README.txt.gz
 for a complete list of supported GPUs and PCI IDs.
 .
 This package contains the driver specific binary OpenGL/GLX implementation
 provided by NVIDIA.

#Package: lib${nvidia}-glcore
Package: libnvidia-legacy-304xx-glcore
Architecture: i386 amd64
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 ${shlibs:Depends}, ${misc:Depends}
Provides:
 libnvidia-glcore-${nvidia:Version},
Conflicts:
 libnvidia-glcore-${nvidia:Version},
 libgl1-nvidia-glx-${nvidia:Version},
Breaks:
 libgl1-${nvidia}-glx (<< ${nvidia:Deb-Version-After:jessie}),
Replaces:
 libgl1-${nvidia}-glx (<< ${nvidia:Deb-Version-After:jessie}),
Description: NVIDIA binary OpenGL/GLX core libraries${nvidia:LegacyDesc}
 The NVIDIA binary driver provides optimized hardware acceleration of
 OpenGL/GLX applications via a direct-rendering X Server for graphics cards
 using NVIDIA chip sets.
 .
 This package contains the private core libraries used by the NVIDIA
 implementation of OpenGL and GLX.

#Package: lib${nvidia}-cfg1
Package: libnvidia-legacy-304xx-cfg1
Architecture: i386 amd64
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 ${nvidia}-alternative (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Provides:
 libnvidia-cfg.so.1 (= ${nvidia:Version}),
 libnvidia-cfg1-any,
Conflicts:
 libnvidia-legacy-390xx-cfg1,
 libnvidia-legacy-340xx-cfg1,
Breaks:
 libgl1-${nvidia}-glx (<< ${nvidia:Deb-Version-After:jessie}),
Replaces:
 libgl1-${nvidia}-glx (<< ${nvidia:Deb-Version-After:jessie}),
Description: NVIDIA binary OpenGL/GLX configuration library${nvidia:LegacyDesc}
 The NVIDIA binary driver provides optimized hardware acceleration of
 OpenGL/GLX applications via a direct-rendering X Server for graphics cards
 using NVIDIA chip sets.
 .
 This package contains the libnvidia-cfg.so.1 runtime library.

#Package: ${nvidia}-alternative
Package: nvidia-legacy-304xx-alternative
Architecture: i386 amd64
Multi-Arch: foreign
Pre-Depends:
 dpkg (>= 1.17.21),
 ${nvidia:legacy-check},
Depends:
 glx-alternative-nvidia (>= 0.7),
 ${misc:Depends}
Provides:
 ${nvidia}-alternative--kmod-alias,
Conflicts:
 nvidia-legacy-390xx-alternative,
 nvidia-legacy-340xx-alternative,
Description: allows the selection of NVIDIA as GLX provider${nvidia:LegacyDesc}
 In setups with several NVIDIA driver versions installed (e.g. current and
 legacy) this metapackage registers an alternative to allow easy switching
 between the different versions.
 .
 Use 'update-glx --config nvidia' to select a version.
 .
 This package does not depend on the corresponding NVIDIA libraries.
 In order to install the NVIDIA driver and libraries, install the
 ${nvidia}-driver package instead.

#Package: ${nvidia}-kernel-support
Package: nvidia-legacy-304xx-kernel-support
Section: non-free/kernel
Architecture: i386 amd64
Multi-Arch: foreign
Depends:
 ${nvidia}-alternative (= ${binary:Version}),
 ${nvidia}-alternative--kmod-alias,
 nvidia-kernel-common (>= 20151021),
 nvidia-modprobe,
 ${misc:Depends}
Provides:
 nvidia-kernel-support-any,
 ${nvidia}-kernel-support--v1,
Breaks:
 glx-alternative-nvidia (<< 0.6.91),
Replaces:
 glx-alternative-nvidia (<< 0.6.91),
Description: NVIDIA binary kernel module support files${nvidia:LegacyDesc}
 The NVIDIA binary driver provides optimized hardware acceleration of
 OpenGL/GLX applications via a direct-rendering X Server for graphics cards
 using NVIDIA chip sets.
 .
 This package provides supporting configuration for the kernel module.

#Package: ${nvidia}-kernel-dkms
Package: nvidia-legacy-304xx-kernel-dkms
Section: non-free/kernel
Architecture: i386 amd64
Multi-Arch: foreign
Pre-Depends:
 nvidia-installer-cleanup,
Depends:
 dkms,
 ${nvidia}-kernel-support--v1,
 ${misc:Depends}
Recommends:
 ${nvidia}-driver (>= ${nvidia:Version}) | ${libcuda1} (>= ${nvidia:Version}),
Provides:
 ${nvidia}-kernel-${nvidia:Version},
Description: NVIDIA binary kernel module DKMS source${nvidia:LegacyDesc}
 This package builds the NVIDIA Xorg binary kernel module needed by
 ${nvidia}-driver, using DKMS.
 Provided that you have the kernel header packages installed, the kernel
 module will be built for your running kernel and automatically rebuilt for
 any new kernel headers that are installed.
 .
 The NVIDIA binary driver provides optimized hardware acceleration of
 OpenGL/GLX applications via a direct-rendering X Server
 for graphics cards using NVIDIA chip sets.
 .
 ${nvidia:Models}
 .
 See /usr/share/doc/${nvidia}-kernel-dkms/README.txt.gz
 for a complete list of supported GPUs and PCI IDs.
 .
 This package contains the blobs for building kernel modules for the
 ${nvidia:kmod:blob:archlist}.
 Building the kernel modules has been tested up to Linux ${nvidia:kmod:tested:Linux}.

#Package: ${nvidia}-kernel-source
Package: nvidia-legacy-304xx-kernel-source
Section: non-free/kernel
Architecture: i386 amd64
Depends:
 debhelper (>= 10),
 make:any,
 quilt,
 xz-utils,
 ${misc:Depends}
Recommends:
 module-assistant | kernel-package,
 ${nvidia}-kernel-support,
Suggests:
 ${nvidia}-driver (>= ${nvidia:Version}),
Breaks:
 module-assistant (<< 0.11.6~),
Description: NVIDIA binary kernel module source${nvidia:LegacyDesc}
 This package provides the source for the NVIDIA Xorg binary kernel module
 needed by ${nvidia}-driver in a form suitable
 for use by module-assistant or kernel-package.
 .
 The NVIDIA binary driver provides optimized hardware acceleration of
 OpenGL/GLX applications via a direct-rendering X Server
 for graphics cards using NVIDIA chip sets.
 .
 PLEASE read /usr/share/doc/${nvidia}-kernel-source/README.Debian.gz
 for building information.  If you want the kernel module to be automatically
 installed via DKMS, install ${nvidia}-kernel-dkms instead.
 .
 ${nvidia:Models}
 .
 See /usr/share/doc/${nvidia}-kernel-source/README.txt.gz
 for a complete list of supported GPUs and PCI IDs.
 .
 This package contains the blobs for building kernel modules for the
 ${nvidia:kmod:blob:archlist}.
 Building the kernel modules has been tested up to Linux ${nvidia:kmod:tested:Linux}.

#Package: ${nvidia}-vdpau-driver
Package: nvidia-legacy-304xx-vdpau-driver
Section: non-free/video
Architecture: i386 amd64
Multi-Arch: same
Pre-Depends:
 nvidia-installer-cleanup,
 ${nvidia:legacy-check},
 ${misc:Pre-Depends}
Depends:
 libvdpau1,
 ${nvidia}-alternative (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Recommends:
 ${nvidia:kmod:binary},
Suggests:
 ${nvidia:kmod:source},
Enhances:
 libvdpau1,
Provides:
 vdpau-driver,
Description: Video Decode and Presentation API for Unix - NVIDIA driver${nvidia:LegacyDescShort}
 These libraries provide the Video Decode and Presentation API for Unix.
 They provide accelerated video playback (incl. H.264) for the supported
 graphics cards.
 .
 This package contains the NVIDIA VDPAU driver.
 .
 See /usr/share/doc/${nvidia}-vdpau-driver/README.txt.gz
 for more information.
 .
 ${nvidia:kmod:Description}

#Package: ${nvidia}-smi
Package: nvidia-legacy-304xx-smi
Section: non-free/utils
Architecture: i386 amd64
Depends:
 ${nvidia}-alternative (= ${binary:Version}),
 lib${nvidia}-ml1 (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Recommends:
 ${nvidia:kmod:binary},
Suggests:
 ${nvidia:kmod:source},
Description: NVIDIA System Management Interface${nvidia:LegacyDesc}
 The NVIDIA Management Library (NVML) provides a monitoring and management API.
 The application "nvidia-smi" is the NVIDIA System Management Interface (NVSMI)
 and provides a command line interface to this functionality.
 .
 See the output from the --help command line option for supported models and
 further information.

#Package: ${libcuda1}
Package: libnvidia-legacy-304xx-cuda1
Architecture: i386 amd64
Multi-Arch: same
Pre-Depends:
 ${nvidia:legacy-check},
 ${misc:Pre-Depends}
Depends:
 nvidia-support,
 ${nvidia}-alternative (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Recommends:
 ${nvidia:kmod:binary},
 ${nvidia}-smi,
 nvidia-persistenced,
 ${libcuda1}-i386 [amd64],
Suggests:
 nvidia-cuda-mps,
 ${nvidia:kmod:source},
Provides:
 libcuda1-any,
 libcuda-5.0-1,
 libcuda-5.0-1-i386 [i386],
Homepage: https://www.nvidia.com/CUDA
Description: NVIDIA CUDA Driver Library${nvidia:LegacyDesc}
 The Compute Unified Device Architecture (CUDA) enables NVIDIA
 graphics processing units (GPUs) to be used for massively parallel
 general purpose computation.
 .
 This package contains the CUDA Driver API library for low-level CUDA
 programming.
 .
 Supported NVIDIA devices include GPUs starting from GeForce 8 and Quadro FX
 series, as well as the Tesla computing processors.
 .
 ${nvidia:kmod:Description}

#Package: ${libcuda1}-i386
Package: libnvidia-legacy-304xx-cuda1-i386
Architecture: i386
Multi-Arch: foreign
Depends:
 ${libcuda1},
 ${misc:Depends}
Description: NVIDIA CUDA 32-bit runtime library${nvidia:LegacyDesc}
 This metapackage helps the automatic installation of the 32-bit NVIDIA CUDA
 library when installing ${libcuda1} on amd64 with foreign
 architecture i386 enabled.

#Package: lib${nvidia}-compiler
Package: libnvidia-legacy-304xx-compiler
Architecture: i386 amd64
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 ${shlibs:Depends}, ${misc:Depends}
Provides:
 libnvidia-compiler-${nvidia:Version},
Conflicts:
 libnvidia-compiler-${nvidia:Version},
Description: NVIDIA runtime compiler library${nvidia:LegacyDesc}
 The Compute Unified Device Architecture (CUDA) enables NVIDIA
 graphics processing units (GPUs) to be used for massively parallel
 general purpose computation.
 .
 This package contains the runtime compiler library.

#Package: lib${nvidia:if-legacy}nvcuvid1
Package: libnvidia-legacy-304xx-nvcuvid1
Architecture: i386 amd64
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 ${libcuda1} (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Description: NVIDIA CUDA Video Decoder runtime library${nvidia:LegacyDesc}
 The Compute Unified Device Architecture (CUDA) enables NVIDIA
 graphics processing units (GPUs) to be used for massively parallel
 general purpose computation.
 .
 The NVIDIA CUDA Video Decoder (NVCUVID) library provides an interface to
 hardware video decoding capabilities on NVIDIA GPUs with CUDA.
 .
 This package contains the nvcuvid runtime library.

#Package: lib${nvidia}-ml1
Package: libnvidia-legacy-304xx-ml1
Architecture: i386 amd64
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 ${nvidia}-alternative (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Breaks:
 ${nvidia}-smi (<< ${nvidia:Version}),
Homepage: https://developer.nvidia.com/nvidia-management-library-NVML
Description: NVIDIA Management Library (NVML) runtime library${nvidia:LegacyDesc}
 The NVIDIA Management Library (NVML) provides a monitoring and management API.
 It provides a direct access to the queries and commands exposed via nvidia-smi.
 .
 This package contains the nvidia-ml runtime library.

#Package: ${nvidia}-opencl-icd
Package: nvidia-legacy-304xx-opencl-icd
Architecture: i386 amd64
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 nvidia-opencl-common,
 ocl-icd-libopencl1 | nvidia-libopencl1 | libopencl1,
 ${nvidia}-alternative (= ${binary:Version}),
 ${libcuda1} (= ${binary:Version}),
 lib${nvidia}-compiler (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Enhances:
 libopencl1,
Provides:
 opencl-icd,
Description: NVIDIA OpenCL installable client driver (ICD)${nvidia:LegacyDesc}
 OpenCL (Open Computing Language) is a multivendor open standard for
 general-purpose parallel programming of heterogeneous systems that include
 CPUs, GPUs and other processors.
 .
 This package provides the NVIDIA installable client driver (ICD) for OpenCL
 which supports NVIDIA GPUs. This ICD supports OpenCL 1.x only.
