report-with: nvidia-legacy-304xx-driver nvidia-legacy-304xx-driver-libs:amd64 nvidia-legacy-304xx-driver-libs:i386 nvidia-glx-legacy-304xx libgl1-nvidia-legacy-304xx-glx:amd64 libgl1-nvidia-legacy-304xx-glx:i386 libgl1-glvnd-nvidia-legacy-304xx-glx:amd64 libgl1-glvnd-nvidia-legacy-304xx-glx:i386 xserver-xorg-video-nvidia-legacy-304xx nvidia-legacy-304xx-alternative nvidia-legacy-304xx-kernel-dkms nvidia-legacy-304xx-kernel-source glx-alternative-nvidia xserver-xorg-video-intel

package-status: nvidia-legacy-304xx-driver nvidia-glx-legacy-304xx nvidia-legacy-304xx-kernel-dkms nvidia-legacy-304xx-kernel-source nvidia-kernel-support-any nvidia-glx-any libgl1-nvidia-glx-any xserver-xorg-video-nvidia-any libcuda1 libcuda1-any nvidia-settings nvidia-xconfig nvidia-support nvidia-kernel-common nvidia-modprobe xserver-xorg xserver-xorg-core xserver-xorg-legacy linux-headers bumblebee bumblebee-nvidia libdrm-nouveau1 libdrm-nouveau1a libdrm-nouveau2 xserver-xorg-video-nouveau make ccache libopencl1 opencl-icd libgl1 libegl1 libgles1 libgles2
